* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	font-family: "Frank Ruhl Libre", serif;
	font-size: 1rem;
}

body a:hover {
	text-decoration: none;
}

h1 {
	font-family: "Poppins", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 7rem;
	text-shadow: 2px 2px #1c1c1c;
}

@media (max-width: 768px) {
	h1 {
		font-size: 4.7rem;
	}
}

@media (max-width: 576px) {
	h1 {
		font-size: 3rem;
	}
}

h2 {
	font-family: "Poppins", sans-serif;
	color: #1c1c1c;
	font-size: 2.6rem;
	text-shadow: 2px 2px #cfcfea;
}

iframe {
	border: 1px solid #1c1c1c;
}

p {
	color: #1c1c1c;
	text-align: justify;
}

p strong {
	color: #000000;
}

p a {
	font-weight: 600;
}

p a:hover {
	color: #8c8cd6;
}

code {
	color: #eac435;
}

header,
footer {
	width: 100%;
}

header {
	height: 100vh;
	min-height: 100%;
}

/* inico footer*/

footer {
	font-size: 0.6rem;
	color: #ffffff;
	text-align: center;
	background-color: #1c1c1c;
}

footer .rrss {
	padding: 10px;
	font-size: 2rem;
	letter-spacing: 30px;
}

@media (max-width: 576px) {
	footer .rrss {
		font-size: 1.8rem;
		letter-spacing: 10px;
	}
}

/* fin footer nav*/

/* inico nav*/

nav {
	background-color: #1c1c1c;
	width: 100%;
	opacity: 0.9;
	position: fixed;
	top: 0px;
	z-index: 999;
}

nav ul li a,
nav ul li {
	font-size: 1.25rem;
	font-family: "Frank Ruhl Libre", serif;
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 70%;
}

nav li {
	width: 100%;
	margin: 12px;
	text-align: center;

}

@media (max-width: 576px) {
	nav ul {
			display: block;
		}
		}

nav li:hover {
	background-color: #000000;
}

.menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

@media (max-width: 576px) {
	nav ul li a,
	nav ul li {
		font-size: 1rem;
	}
}

/* fin nav */

/* inico portada */

.portada {
	background-color: #000000;
	position: relative;
	background-color: black;
	height: 100vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

.portada video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.portada .container {
	position: relative;
	z-index: 2;
}

.portada .portada__musica {
	opacity: 0.5;
	z-index: 3;
}

.portada .portada__musica:hover {
	opacity: 1;
}

/* fin portada */

/* inicio intro */

.intro {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.intro img:hover {
	filter: grayscale(100%);
	transition: 2s;
}

/* fin intro */

.ultimo {
	background: #1c1c1c;
	margin: 50px 0px;
}

.ultimo p {
	padding: 15px;
	color: #ffffff;
	text-align: center;
}

.ultimo strong,
a {
	color: #cfcfea;
	text-decoration: none;
}

/* inicio media */

.media {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* fin media */

/* inicio fechas */
/* no logro que esto sea completamente responsive en el tamaño más pequeño :( ; */

.grid {
	color: #ffffff;
	height: 100vh;
	background-color: #1c1c1c;
	padding: 30px 0px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 5px 10px;
	align-content: space-around;
	justify-content: center;
}

.grid .fechas__head {
	font-size: 1.8rem;
	font-family: "Poppins", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #e0bbe4;
	grid-row-start: 1;
	grid-row-end: 2;
	border-bottom: 1px solid #ffffff;
}

.grid .fechas__contenido {
	text-align: center;
	padding: 20px;
}

.grid .fechas__ayuda {
	text-align: justify;
	font-size: 0.8rem;
	padding: 0px 20px;
	grid-column-start: 1;
	grid-column-end: 4;
}

.fechas strong {
	color: #e0bbe4;
}

.fechas em {
	color: #d291bc;
}

.fechas input[type="button"] {
	width: 90%;
	text-transform: uppercase;
	background-color: #957dad;
	color: #c1c1c1;
	margin: 2px;
	font-size: 0.92rem;
	word-spacing: 5px;
	font-weight: 600;
}

@media (max-width: 576px) {
	.grid {
		height: auto;
	}
	.grid .fechas__head {
		font-size: 1.2rem;
	}
}

/* fin fechas */

/* inicio contacto */

.contacto {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

.contacto input {
	background-color: #1c1c1c;
	color: #a4a4a4;
	padding: 3px;
	border: 1px solid #000;
}

.contacto input[type="text"] {
	width: 100%;
}
.contacto input[type="button"],
input[type="submit"],
input[type="reset"] {
	width: 30%;
	display: inline;
}

.contacto input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color: #666666;
}

.contacto textarea {
	margin: 15px 0px;
	height: 35px;
	padding: 5px;
	width: 100%;
	background-color: #1c1c1c;
	color: #a4a4a4;
	border: 1px solid #000;
	transition: 2s;
	border-radius: 0%;
}

.contacto textarea:hover {
	height: 150px;
}

/* fin contacto */

.carousel-inner img {
	width: 100%;
	height: 100%;
}
