.contacto {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;

  input {
    background-color: $gris;
    color: #a4a4a4;
    padding: 3px;
    border: 1px solid #000;
  }

    input[type="text"] {
      width: 100%; 
      font-size: 0.8rem;
    }

    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      width: 30%;
      display: inline;
   

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover {
        filter: invert(100%);
    }
  }

  textarea {
    margin: 15px 0px;
    height: 35px;
    padding: 5px;
    width: 100%;
    background-color: $gris;
    color: #a4a4a4;
    font-size: 0.8rem;
    border: 1px solid #000;
    transition: 2s;
    border-radius: 0%;
    overflow: hidden;

    &:hover {
      height: 150px;
    } 
  }
}