.grid {
  color: #ffffff;
  height: 100vh;
  background-color: $gris;
  padding: 30px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px 10px;
  align-content: space-around;
  justify-content: center;
  @media (max-width: 576px) {
    height: auto;
  }

.fechas__head {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: $suave;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid #ffffff;
}

.fechas__contenido {
  text-align: center;
  padding: 20px;
}

.fechas__ayuda {
  text-align: justify;
  font-size: 0.8rem;
  padding: 0px 20px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.fechas__head {
    font-size: 1.2rem;
  }

.fechas strong {
  color: $suave;
}

em {
  color: $fuerte;
}

input[type="button"] {
  width: 90%;
  text-transform: uppercase;
  background-color: $suave;
  color: $gris;
  margin: 2px;
  font-size: 0.92rem;
  word-spacing: 5px;
  font-weight: 600;
}
}

