footer {
  font-size: 0.7rem;
  color: #ffffff;
  text-align: center;
  background-color: $gris;

  .rrss {
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 30px;
      @media (max-width: 576px) {
      font-size: 1.8rem;
      letter-spacing: 10px;
      }
      
    .rrss__icon {
      color: white;
        }

    .fa-twitter:hover {
      color: $twitter;
    } 
    .fa-instagram:hover {
      color: $instagram;
      }
    .fa-facebook-square:hover {
      color: $facebook;
      }
    .fa-youtube:hover {
      color: $youtube;
      }
    .fa-spotify:hover {
      color: $spotify;
      }
    }
  }
