* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1rem;
}

body a:hover {
  text-decoration: none;
}

iframe {
  border: 1px solid $gris;
}

p {
  color: $gris;
  text-align: justify;

strong {
  color: #000000;
}

a:hover {
  color: $fuerte;
}
}

code {
  color: #eac435;
}

a {
  font-weight: 600;
}

h1 {
	font-family: "Poppins", sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 7rem;
	text-shadow: 2px 2px #1c1c1c;
	@media (max-width: 768px) {
		font-size: 4.7rem;
	}
	@media (max-width: 576px) {
		font-size: 3rem;
	}

	&:hover {
		filter: invert(100%);
	}
}

h2 {
	font-family: "Poppins", sans-serif;
	color: #1c1c1c;
	font-size: 2.6rem;
	text-shadow: 2px 2px #cfcfea;
}