.intro {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
  	border: 1px solid $gris;

  	&:hover{
    transform: scaleX(-1);
    filter: invert(100%);
  	}
  }
}

