nav {
  background-color: #1c1c1c;
  width: 100%;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  z-index: 999;
    
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 70%;
}

    li {
        width: 100%;
        margin: 12px;
        text-align: center;
}

    li:hover {
        background-color: #000000;
}

    ul li a, ul li {
        font-size: 1.25rem;
        font-family: "Frank Ruhl Libre", serif;
        color: #ffffff;
        text-decoration: none;
        font-weight: 700;  
        letter-spacing: 0.8px;
        text-transform: uppercase;
        @media (max-width: 576px) {
        font-size: 1rem;
        }
    }
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
