/* colores principales */
$gris: #1c1c1c;
$fuerte: #852828;
$suave: #9B6363;

/* redes sociales */
$twitter: RoyalBlue;
$facebook: SteelBlue;
$instagram: MediumPurple;
$spotify: MediumSeaGreen; 
$youtube: FireBrick; 